:root {
	--colour-foreground: #151515;
	--colour-foreground-secondary: #3B3B3B;
	--colour-foreground-highlight: #000;
	--colour-background: #f5f3ee;
	--colour-background-green: #028A37;
	--colour-background-secondary: #FDFBF7;
	--colour-link: #016289;
	--colour-border: #3B3B3B;
	--colour-button-background: #151515;
	--colour-button-text: #f5f3ee;
	--colour-button-active: #028A37;
	--colour-title-text: #fff;
}
  
@media (prefers-color-scheme: dark) {
	:root {
	  --colour-foreground: #BEBCB2;
	  --colour-foreground-secondary: #BEBCB2;
	  --colour-foreground-highlight: #deddd8;
	  --colour-background: #151515;
	  --colour-background-green: #015B24;
	  --colour-background-secondary: #0b0b0b;
	  --colour-link: #50C3F2;
	  --colour-border: #BEBCB2;
	  --colour-button-background: #BEBCB2;
	  --colour-button-text: #151515;
	  --colour-button-active: #01C543;
	  --colour-title-text: #fff;
	}
}

@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("/fonts/SofiaSansExtraCondensed-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("/fonts/SofiaSansExtraCondensed-VariableFont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Regular.woff2") format("woff2"),
    url("/fonts/Lora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Italic.woff2") format("woff2"),
    url("/fonts/Lora-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Bold.woff2") format("woff2"),
    url("/fonts/Lora-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Lora-SemiBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.logo {
  font-size: clamp(1.5em, 3vw, 2em);
}
.logo a {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: var(--colour-foreground);
}
.book-body {
  font-size: clamp(0.8em, 1.25vw, 1.2em);
}
body {
  font-family: "Lora", Georgia, serif;
  color: var(--colour-foreground);
}
h1,
h2 {
color: var(--colour-foreground-highlight);
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 2.25em;
  font-weight: normal;
}
a {
	color: var(--colour-link);
	text-decoration-thickness: 1px;
	text-underline-offset: 0.1rem;
}
.book-body h1,
.book-body h2,
.book-body h3,
.book-body h4,
.book-body h5 {
	color: var(--colour-foreground-highlight);
  padding: 0;
  margin: 1.5em 0 0.5em 0;
}
.book-body h3 {
  font-family: "Lora", Georgia, serif;
  font-size: 1.4em;
  font-weight: bold;
}
.book-body h4 {
  color: var(--colour-foreground-secondary);
  font-family: "Mulish", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
.book-body > ul,
.book-body > ol {
  margin-top: 1.5em;
  margin-bottom: 1.8em;
}
.book-body li,
.book-body p {
  font-family: "Lora", Georgia, serif;
  color: var(--colour-foreground);
  font-size: 1.1875em;
  line-height: 1.5;
  margin: 0.625em 0;
}
.book-body li {
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  line-height: 1.4;
  margin: 0.25em 0;
}
.book-body p + p {
  padding: 0;
  margin: 1.25em 0;
}
.book-body blockquote {
  margin: 1.75em 0 2.2em 2vw;
}
.book-body blockquote p {
	font-family: "Mulish", sans-serif;
  color: var(--colour-foreground-secondary);
}
em {
	color: var(--colour-foreground-highlight);
  font-style: italic;
}
strong {
	color: var(--colour-foreground-highlight);
  font-weight: bold;
}
code {
  background: var(--colour-background-secondary);
  color: var(--colour-foreground-highlight);
  font-size: 0.9em;
  padding: 0.1em;
}
pre {
  background-color: var(--colour-background-secondary);
  padding: 1.2em 1em;
  margin: 2em 0;
  font-size: 1.15em;
  line-height: 1.55;
  overflow: auto;
  border: solid var(--colour-border);
  border-width: 0 0 0 4px;
}
pre code {
  white-space: pre-wrap;
}
pre code.hljs {
  background-color: transparent;
}
table {
  font-family: "Mulish", sans-serif;
  border-collapse: collapse;
}
table th {
  text-align: left;
}
figcaption {
  font-size: 0.925em;
  font-family: "Mulish", sans-serif;
  color: var(--colour-foreground-secondary);
  margin-top: 0.5em;
}
a[href*="#fig-"] {
  font-family: "Mulish", sans-serif;
  font-size: 0.925em;
}
.fig-number {
  font-weight: bold;
}
.title-section h1 {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: clamp(5em, 20vw, 14em);
}
.author {
  font-size: clamp(1.15em, 3vw, 2.4em);
  padding-bottom: 0.35em;
  color: var(--colour-title-text);
  font-style: normal;
  font-weight: bold;
  font-family: "Lora", Georgia, serif;
}
.btn-cta {
  font-size: clamp(1.45em, 4vw, 2.1em);
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  background: var(--colour-button-background);
  color: var(--colour-button-text);
  text-decoration: none;
  transition: background 0.15s linear;
  border-radius: 3px;
}
.btn-cta:hover {
  background: var(--colour-button-active);
  color: var(--colour-button-text);
}
.footer {
  color: var(--colour-foreground-secondary);
  font-family: "Mulish", sans-serif;
}
.footer p {
  color: var(--colour-foreground-secondary);
  font-size: 1em;
  font-family: "Mulish", sans-serif;
}
.meta-hed {
  color: var(--colour-foreground-secondary);
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: normal;
  font-size: 1.45em;
  text-transform: uppercase;
  margin: 0.25em 0 0 0;
}
.pub-info p {
  font-size: 1em;
  line-height: 1.55;
}
.pub-info p code {
  font-size: 1.2em;
}
.chapter-header {
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-end;
  font-size: clamp(0.2em, 2vw, 1em);
}
.chapter-title {
	color: var(--colour-title-text);
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 5.5em;
  line-height: 0.85;
  margin: 0;
  padding: 0;
}
.chapter-num {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 15em;
  line-height: 0.65;
  color: var(--colour-title-text);
  padding-right: 0.125em;
}
.title-section h1 {
  padding-right: 2.5vw;
  line-height: 0.8;
  font-size: clamp(4.5em, 12.5vw, 9em);
  color: var(--colour-title-text);
  border-top: 2px solid var(--colour-button-background);
  border-bottom: 2px solid var(--colour-button-background);
  padding: 0.12em 0;
}
.inner-nav {
  margin-top: 4em;
  padding-top: 1em;
  border-top: 4px solid var(--colour-border);
  font-family: "Mulish", sans-serif;
}
.inner-nav a {
  font-size: 1em;
  text-transform: capitalize;
}
.toc-btn {
  font-family: "Mulish", sans-serif;
  color: var(--colour-foreground-secondary);
  font-size: 1em;
}
.header-nav a {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 1em;
}
.modal a {
  color: var(--colour-title-text);
  font-size: 1.6em;
  font-family: "Lora", Georgia, serif;
  font-weight: normal;
  text-transform: capitalize;
  display: inline-block;
  transition: all 0.15s ease-in-out;
}
.modal a:hover {
  color: var(--colour-title-text);
}
