/* sticky footer */
body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.content {
  margin: 0 auto;
  padding: 0 var(--space-xs) var(--space-2xl) var(--space-xs);
}

.content > div {
  margin: 0 auto;
  max-width: 66ch;
}

@media (min-width: 100ch) {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-s);
    padding: 0;
  }

  ul li {
    margin-left: var(--space-m);
  }
}

@media (min-width: 400ch) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--space-m);
  }
}

ul:first-of-type {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-xs);
  margin-bottom: var(--space-2xl);
  padding: 0;
}

ul:first-of-type > li {
  margin: 0;
}

ul:first-of-type > li > a {
  font-weight: bold;
}

figure:has(img[src*=cover]) {
  display: block;
  float: right;
  margin: 0 0 var(--space-m) var(--space-m);
  max-width: 30%;
}