/* Fonts */

@font-face {
  font-family: "Plex Semi Bold";
  src: url("/fonts/plex-semi-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Plex Bold";
  src: url("/fonts/plex-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Plex Sans";
  src: url("/fonts/plex-sans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Plex Sans";
  src: url("/fonts/plex-sans-semi-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Plex Sans";
  src: url("/fonts/plex-sans-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

/* Colours */

:root {
  --colour-foreground: #151515;
  --colour-background: #f5f3ee;
  --colour-background-green: #028A37;
  --colour-background-secondary: #fff;
  --colour-link: #028A37;
  --colour-border: #151515;
  --colour-button-background: #151515;
  --colour-button-text: #f5f3ee;
  --colour-button-active: #028A37;
  --colour-title-text: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-foreground: #deddd8;
    --colour-background: #151515;
    --colour-background-green: #015B24;
    --colour-background-secondary: #0b0b0b;
    --colour-link: #01C543;
    --colour-border: #deddd8;
    --colour-button-background: #deddd8;
    --colour-button-text: #151515;
    --colour-button-active: #01C543;
    --colour-title-text: #fff;
  }
}

:root {
  --font-body: "Plex Sans", Helvetica, Arial, sans-serif;
  --font-title: "Plex Bold", Helvetica, Arial, sans-serif;
  --font-headings: "Plex Semi Bold", Helvetica, Arial, sans-serif;
  --transition: all 0.2s ease;

  --font--2: clamp(0.6944rem, 0.6573rem + 0.1979vi, 0.88rem);
  --font--1: clamp(0.8333rem, 0.78rem + 0.2844vi, 1.1rem);
  --font-0: clamp(1rem, 0.925rem + 0.4vi, 1.375rem);
  --font-1: clamp(1.2rem, 1.0963rem + 0.5533vi, 1.7188rem);
  --font-2: clamp(1.44rem, 1.2983rem + 0.7557vi, 2.1484rem);
  --font-3: clamp(1.728rem, 1.5365rem + 1.0214vi, 2.6855rem);
  --font-4: clamp(2.0736rem, 1.8169rem + 1.3689vi, 3.3569rem);
  --font-5: clamp(2.4883rem, 2.1468rem + 1.8217vi, 4.1962rem);

  --space-3xs: clamp(0.25rem, 0.225rem + 0.1333vi, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.4625rem + 0.2vi, 0.6875rem);
  --space-xs: clamp(0.75rem, 0.6875rem + 0.3333vi, 1.0625rem);
  --space-s: clamp(1rem, 0.925rem + 0.4vi, 1.375rem);
  --space-m: clamp(1.5rem, 1.3875rem + 0.6vi, 2.0625rem);
  --space-l: clamp(2rem, 1.85rem + 0.8vi, 2.75rem);
  --space-xl: clamp(3rem, 2.775rem + 1.2vi, 4.125rem);
  --space-2xl: clamp(4rem, 3.7rem + 1.6vi, 5.5rem);
  --space-3xl: clamp(6rem, 5.55rem + 2.4vi, 8.25rem);

  --border: 2px solid var(--colour-border);
}

@media (prefers-reduced-motion) {
  :root {
    --transition: none;
  }
}
